/* Styles for the Signup Form */
body {
    background-color: #EEEEEE; /* Slightly darker background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  form {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #F7F7F7; /* Light background */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #393E46; /* Darker border */
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #929AAB; /* Neutral primary color */
    color: #EEEEEE; /* Light text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #393E46; /* Dark hover */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #929AAB;
  }
  